:root {
  --brand-color: #15D155;
  --darkest-color: #000000;
  --dark-color: #363636;
  --mid-color: #6C6C6C;
  --light-color: #DADADA;
  --lightest-color: #FFFFFF;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  padding-top:0px; /* Increased to ensure proper space for fixed header */
  overflow-x: hidden;
}

/* Hero Section */
.hero-section {
  background-image: url('plant_background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: var(--lightest-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  filter: contrast(1.2) brightness(0.8) saturate(1.1);
  box-sizing: border-box;
}

.hero-content {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;
  border-radius: 8px;
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero-subheading {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.hero-button {
  background-color: var(--brand-color);
  color: var(--lightest-color);
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
}

.hero-button:hover {
  background-color: var(--dark-color);
}
@media (max-width: 768px) {
  .hero-section {
    background-attachment: scroll;
    background-size: cover;
  }
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--darkest-color);
  color: var(--lightest-color);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
}

.logo-container {
  margin-right: 20px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--lightest-color);
}

.logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.logo span {
  font-size: 18px;
  font-weight: bold;
}

.nav-center {
  display: flex;
  justify-content: center;
}

.nav-center ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-center li {
  margin-right: 20px;
}

.nav-center a {
  color: var(--lightest-color);
  text-decoration: none;
}

.nav-center a:hover {
  color: var(--brand-color);
}

.auth-container {
  display: flex;
  align-items: center;
}

.sign-in,
.sign-up {
  background-color: var(--brand-color);
  color: var(--lightest-color);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.sign-in:hover,
.sign-up:hover {
  background-color: var(--dark-color);
}

/* Sidepanel Menu */
.sidepanel {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #15D155;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* How It Works Section */
.how-it-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 80px); /* Account for header height */
  padding: 20px;
  box-sizing: border-box;
}

.section-header {
  text-align: center;
  margin-bottom: 40px;
}

.section-header h2 {
  font-size: 2.5rem;
  color: var(--darkest-color);
}

.section-header p {
  font-size: 1.2rem;
  color: var(--mid-color);
  line-height: 1.6;
}

.steps-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.step {
  background-color: var(--darkest-color);
  color: var(--lightest-color);
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}

.step:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

.step .icon {
  font-size: 2rem;
  margin-bottom: 15px;
}

.step h3 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.step p {
  font-size: 1.1rem;
  line-height: 1.6;
}

/* Features Section */
.features-section {
  padding: 60px 20px;
  background-color: var(--light-color);
  border-top: 5px solid var(--brand-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.features-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.feature-item {
  text-align: center;
  flex-basis: 30%;
  margin: 20px;
  background-color: var(--lightest-color);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.feature-icon {
  width: 300px;
  height: 300px;
  margin-bottom: 15px;
}

.feature-title {
  margin-bottom: 10px;
  font-size: 1.6rem;
  color: var(--dark-color);
}

.feature-description {
  color: var(--mid-color);
  font-size: 1rem;
  line-height: 1.5;
}

.testimonial-section{
  border-top: 5px solid var(--mid-color);
}
@media (max-width: 768px) {
  .steps-container {
    grid-template-columns: 1fr; /* Single column for small screens */
  }

  .features-container {
    flex-direction: column;
    align-items: center;
  }
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  height: 100vh;
  width: 100vh;
  display: flex;
  align-items: center; /* Center the content vertically */
  justify-content: center;
}

/* Profile container styles */
.profile-container {
  text-align: center;
  padding: 20px; /* Add some padding */
}

.profile-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 15vh;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.profile-name {
  font-size: 18px; /* Size of the name text */
  font-weight: bold; /* Bold text for names */
  margin-top: 10px; /* Space between image and name */
  color: #333; /* Darker text color for better readability */
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -8vh;
  padding: 16px;
  color: var(--brand-color);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.prev {
  left: 0;
  border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
}
.next {
  right: 0;
  border-radius: 0px 3px 3px 0px;
  -webkit-border-radius: 0px 3px 3px 0px;
  -moz-border-radius: 0px 3px 3px 0px;
  -ms-border-radius: 0px 3px 3px 0px;
  -o-border-radius: 0px 3px 3px 0px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  font-size: 20px; /* Increased font size */
  font-weight: bold; /* Make the caption text bold */
  color: #f2f2f2;
  padding: 10px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.active, .dot:hover {
  background-color: #717171;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Review text styling */
.review-text {
  font-size: 18px; /* Increased font size for better readability */
  color: #333; /* Darker text for better readability */
  font-weight: 500; /* Slightly bold text for emphasis */
  margin-top: 10px; /* Space above the review text */
  line-height: 1.5; /* Adjust line height for readability */
  letter-spacing: 0.4px; /* Slight letter spacing for a clean look */
  padding: 10px; /* Padding around the text for better spacing */
  max-width: 85%; /* Ensure the text doesn’t stretch too wide */
  margin-left: auto;
  margin-right: auto; /* Center the text container */
  font-family: 'Playfair Display', serif;


}

/* Responsive adjustments */
@media (max-width: 768px) {
  .review-text {
    font-size: 16px; /* Slightly smaller font size on smaller screens */
    padding: 8px; /* Reduced padding on smaller screens */
  }
}

.cta-section {
  background-color: var(--lightest-color);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center; /* Centers content vertically */
  height: 100vh; /* Full viewport height */
}

.cta-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}

.cta-text {
  flex: 1;
  margin-right: 40px;
}

.cta-text h2 {
  color: var(--darkest-color);
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.cta-text p {
  color: var(--mid-color);
  font-size: 1.2rem;
}

.cta-form {
  flex: 1;
  background-color: var(--light-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.cta-form form {
  display: flex;
  flex-direction: column;
}

.cta-form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid var(--mid-color);
  border-radius: 5px;
  font-size: 1rem;
  width: 95%;
}

.cta-form button {
  background-color: var(--brand-color);
  color: var(--lightest-color);
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.cta-form button:hover {
  background-color: var(--dark-color);
}

.cta-section{
  border-top: 5px solid var(--brand-color);
}

/* Footer Section */
.footer {
  background-color: var(--darkest-color);
  color: var(--lightest-color);
  padding: 40px 20px;
  box-sizing: border-box;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-column {
  flex: 1;
  margin: 15px;
  max-width: 300px;
}

.footer-column h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: var(--brand-color);
}

.footer-column p {
  font-size: 1rem;
  color: var(--light-color);
  line-height: 1.5;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: var(--lightest-color);
  text-decoration: none;
}

.footer-column ul li a:hover {
  color: var(--brand-color);
}

.footer-bottom {
  border-top: 1px solid var(--mid-color);
  margin-top: 20px;
  padding-top: 20px;
  text-align: center;
  color: var(--mid-color);
}

.footer-bottom p {
  margin: 0;
  font-size: 1rem;
}

.footer-bottom .social-icons {
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer-bottom .social-icons li {
  margin: 0 10px;
}

.footer-bottom .social-icons li a {
  color: var(--lightest-color);
  font-size: 1.5rem;
  text-decoration: none;
}

.footer-bottom .social-icons li a:hover {
  color: var(--brand-color);
}

/* Responsive Adjustments for Footer */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
}
/* for testimonials */
@media (max-width: 768px) {
  .profile-container img {
    width: 100px;
    height: 100px;
  }

  .review-text {
    font-size: 1rem;
  }
}